<div class="row">
  <div id="playerBox" class="offset8 span5 well" style="position: fixed">
    <audio id="audioPlayer" controls="controls" style='width: 100%' src=''> 
      Your browser does not support the audio element.
    </audio><br />
    <div id="repeatControl">
      <span class="btn btn-primary a-time" style="margin-right: 10px">Set A</span>
      <span class="btn btn-primary b-time" style="margin-right: 10px">Set B</span>
      <span class="btn btn-action store" style="margin-right: 10px">Store</span>
      <span class="btn btn-danger clear" style="float: right">Clear</span>
    </div>
    <ul id="store-list">
    </ul>
  </div>
  <div class="offset3 span5">
    <b><%= render_date_range(@date) %></b>
  </div>
  <ul class="span9 topics">
    <% @topics.each_with_index do |topic, i| %>
      <li style="margin: 15px">
      <h4>
        [ <span id="date-filter" style="margin: 10px;"><%= render_topic_date(topic.published_at) %></span> ]
        <%= link_to topic.title, '#', :style => 'margin: 10px', :class => 'topic-title' %>
      </h4>
      <div class="topic-detail row" style="display: none;" data-audio="<%= topic.audio %>">
        <div class="span8">
          <ul>
            <li>
            <%= link_to 'original link', topic.url %>
            </li>
            <li>
            <%= simple_format(topic.transcript) %>
            </li>
          </ul>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @topics %>
